---
// https://tailwindui.com/components/marketing/sections/footers
import { author } from "@pkg";
import type { GlobalQuery } from "@tina-generated/types";
import { IconifyIcon } from "..";
const props = Astro.props as GlobalQuery["global"]["footer"];
if (!props) {
	return null;
}
const { social_links } = props;
---

<footer class="col-span-12 p-4 md:col-span-4 md:-translate-y-full z-30">
	<div class="flex flex-col gap-2">
		<div class="flex justify-center space-x-6">
			{
				social_links?.map((link) => (
					<a href={link?.social?.link} target="_blank" rel="noreferrer">
						<span class="sr-only">{link?.social?.title}</span>
						<IconifyIcon
							pack={link?.social?.iconPack}
							name={link?.social?.iconName}
						/>
					</a>
				))
			}
		</div>
		<div class="mt-8 md:mt-0">
			<p class="text-center text-xs leading-5 text-gray-200">
				&copy; {new Date().getFullYear()} Created By
				<a href={author.url} class="underline"> Stephan Randle</a>. All rights
				reserved.
			</p>
		</div>
	</div>
</footer>
